<div id="<%= dom_id controller %>">
  <p>
    <strong>Staticpages:</strong>
    <%= controller.StaticPages %>
  </p>

  <p>
    <strong>Home:</strong>
    <%= controller.home %>
  </p>

  <p>
    <strong>Help:</strong>
    <%= controller.help %>
  </p>

</div>
