<h1>Editing controller</h1>

<%= render "form", controller: @controller %>

<br>

<div>
  <%= link_to "Show this controller", @controller %> |
  <%= link_to "Back to controllers", controllers_path %>
</div>
